---
import { AuthorCardClient } from '@/components/AuthorCardClient'
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Container from '@/components/Container.astro'
import Layout from '@/layouts/Layout.astro'
import { getCollection } from 'astro:content'

const authors = await getCollection('authors')
---

<Layout title="Authors" description="A list of authors on this site.">
  <Container class="flex flex-col gap-y-6">
    <Breadcrumbs items={[{ label: 'Authors', icon: 'lucide:users' }]} />
    {
      authors.length > 0 ? (
        <ul class="not-prose flex flex-col gap-4">
          {authors.map((author) => (
            <li>
              <AuthorCardClient
                client:load
                id={author.id}
                name={author.data.name}
                avatar={author.data.avatar}
                bio={author.data.bio}
                pronouns={author.data.pronouns}
                github={author.data.github}
                linkedin={author.data.linkedin}
                instagram={author.data.instagram}
                website={author.data.website}
                mail={author.data.mail}
              />
            </li>
          ))}
        </ul>
      ) : (
        <p class="text-center text-muted-foreground">No authors found.</p>
      )
    }
  </Container>
</Layout>
